    {%extends "base.html.jinja" %}
    {% block content %}
        <h2>Pobierz Opinie o Produkcie</h2>
        <% if %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-heartbreak-fill"></i> <strong>{{error}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% edif %>
        <form action="{{url_for('extract')}}" method="POST">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="product_id" class="col-form-label">ID produktu</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="product_id" name="product_id" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-pink" value"Pobierz">
                    </span>
                </div>
            </div>
        </form>
    {% endblock content%}